@page "/AccountPayable"
@using Microsoft.Extensions.Localization
@using global::HQSOFT.eBiz.AccountPayable.Localization
@inject IStringLocalizer<AccountPayableResource> L
@{
}
<h1>AccountPayable</h1>
<p>@L["SamplePageMessage"]</p>